@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #7b7a7a92 #fff;
}

/* Checkout container */
#checkout {
    margin: 20px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* User Details Section */
#checkout #user-details {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border: 1px solid transparent;
    padding-bottom: 10px;
    border-right: 1px solid #dedada;
    font-size: 16px;
}

/* User Details - Text */
#checkout #user-details p {
    font-weight: bold;
    cursor: pointer;
    color: #183961;
}

/* User Details - Input */
#checkout #user-details b {
    border: none;
    width: 92%;
    border-radius: 2px;
    box-shadow: 0 0 1px #aeadad;
    padding: 7px 10px;
    text-transform: uppercase;
    font-weight: 500;
}

/* Purchase Items Section */
#checkout #purchase-items {
    width: 68%;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    #checkout {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #checkout #user-details {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #dedada;
        padding-bottom: 15px;
        text-align: start;
        align-items: center;
    }

    #checkout #purchase-items {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #checkout {
        margin: 10px;
    }

    #checkout #user-details {
        width: 90%;
        align-items: start;
    }

    #checkout #user-details b {
        text-align: start;
    }
    #checkout #purchase-items {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #checkout {
        flex-direction: column;
        align-items: center;
    }

    #checkout #user-details {
        width: 100%;
        font-size: 12px;
        text-align: start;
    }

    #checkout #user-details b {
        width: 100%;
        padding: 5px 8px;
    }

    #checkout #purchase-items {
        width: 100%;
    }
}
