@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* Global Styles */
* {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #7b7a7a92 #fff;
}

.navbar {
    box-shadow: 0 0 10px #c0bebeb4;
    background-color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar a {
    font-weight: bold;
    color: #0A1F13;
}

.navbar i {
    color: #0A1F13;
}

#footer {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    color: #0A1F13;
    border: 1px dotted transparent;
    border-top-color: #0A1F13;
}

#footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    font-size: 20px;
    color: #0A1F13;
}

#carousel-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel-img img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    height: 450px;
    width: 100%;
}

#form {
    width: 550px;
    margin: 30px auto;
    padding: 15px 25px;
    box-shadow: 0px 5px 15px #c0bebeb4;
    /* border: 1px dotted; */
    border-radius: 10px;
    text-align: center;
}

#form Button {
    width: 100%;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#categories #box {
    width: 200px;
    height: 40px;
    box-shadow: 1px 1px 2px #c0bebeb4;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    transition: 0.8s;
    background-color: #e8e6e6d8;
}

#categories #box:hover {
    background-color: #0A1F13;
    transition: 0.8s;
    color: white;
    cursor: pointer;
}

#cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#cards #box {
    padding: 15px 0;
    width: 100%;
    box-shadow: 1px 1px 5px #c0bebeb4;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#cards #box #images {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

#cards #box #images img {
    object-fit: contain;
    color: red;
}

#cards #box #img-option {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#cards #box #img-option img {
    object-fit: contain;
    border: 1px dotted #0A1F13;
    height: 60px;
    width: 60px;
    padding: 5px;
}

#cards #box #contents {
    width: 58%;
    text-align: start;
    display: flex;
    flex-direction: column;
}

#cards #box #contents #pro-name {
    color: #0A1F13;
    font-size: 22px;
    padding-bottom: 10px;
}

#cards #box #contents #description {
    padding-bottom: 10px;
}

#cards #box #contents #price {
    font-size: 18px;
    color: brown;
}

#cards #box #contents #btns {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    align-content: center;
    justify-content: start;
    gap: 10px;
}

#crousel {
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
}

/* Home Page Styling */
#hero {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

#hero #filter {
    margin-top: 15px;
    width: 15%;
    height: 100vh;
    position: sticky;
    top: 10vh;
    padding: 5px 10px;
    border: 1px dotted transparent;
    border-right-color: #0A1F13;
    border-top-color: #0A1F13;
    border-top-right-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
#hero #filter a{
    width: 250px;
    padding: 8px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}

#hero #filterdata {
    width: 70%;
}

#cart-count {
    border-radius: 50px;
    font-weight: bold;
    margin-left: 2px;
    font-size: 12px;
    padding: 1px 4px;
    box-shadow: 0 0 1px;
}

Table td {
    text-align: center;
    align-content: center;
}

Table td i {
    color: #0A1F13;
}

#checkout-btn {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

textarea{
    border: none;
    box-shadow: 0 0 1px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

/* Responsive Styles for 1024px to 1440px */
@media (min-width: 1024px) and (max-width: 1440px) {
    .navbar {
        padding: 20px;
    }

    #form {
        width: 600px;
    }

    #categories {
        gap: 30px;
    }

    #categories #box {
        width: 220px;
        height: 45px;
    }

    #cards {
        gap: 30px;
    }

    #cards #box {
        flex-direction: row;
    }

    #cards #box #images {
        width: 35%;
    }

    #cards #box #contents {
        width: 55%;
    }

    #hero {
        gap: 30px;
    }

    #hero #filter {
        width: 20%;
    }

    #hero #filterdata {
        width: 80%;
    }
}

/* Responsive Media Queries */
@media screen and (max-width: 1024px) {
    #navbar a {
        font-size: 14px;
    }

    #categories {
        gap: 15px;
    }

    #cards #box {
        width: 100%;
        /* flex-direction: column; */
        align-items: center;
    }

    #cards #box #images {
        width: 80%;
    }

    #cards #box #contents {
        width: 100%;
        text-align: start;
    }

    #hero {
        flex-direction: column;
        align-items: flex-start;
    }

    #hero #filter {
        width: 100%;
        position: initial;
        border: none;
        padding: 10px;
        height: auto;
    }

    #hero #filterdata {
        width: 100%;
    }
    #crousel img{
        height: 60vh;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    #form {
        width: 90%;
        margin: 50px auto;
    }

    #carousel-img img {
        height: 300px;
    }

    #categories #box {
        width: 45%;
    }

    #cards #box {
        padding: 10px;
        flex-direction: column;
    }
    #cards #box #contents{
        text-align: start;
    }

    #cards #box #contents #pro-name {
        font-size: 18px;
    }

    #hero {
        gap: 10px;
    }

    #hero #filter {
        margin: auto;
        width: 95%;
        position: initial;
        border: none;
        height: auto;
        padding: 10px;
    }

    #hero #filterdata {
        width: 100%;
    }

    #cart-count {
        font-size: 10px;
    }
    #crousel img{
        height: 50vh;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 8px;
    }

    #categories {
        gap: 10px;
    }
    
    #categories #box {
        width: 90%;
    }

    #form {
        width: 95%;
        margin: 10px auto;
    }
  
    #carousel-img img {
        background-position: center;
        background-repeat: no-repeat;
        height: 250px;
        width: 100%;
    }
    #crousel-caption{
        display: none;
    }

    #cards #box {
        padding: 8px;
    }

    #cards #box #images{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #cards #box #img-option{
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
    }

    #cards #box #images img {
        width: 300px;
    }
    #cards #box #contents{
        text-align: start;
        font-size: 14px;
    }
    #cards #box #contents #pro-name {
        font-size: 22px;
    }
    #hero {
        flex-direction: column;
        gap: 5px;
    }

    #hero #filter {
        width: 100%;
        position: initial;
        border: none;
        padding: 10px;
        height: auto;
    }

    #hero #filterdata {
        width: 100%;
    }

    #cart-count {
        font-size: 8px;
    }

    Table td img{
        height: 80px;
        width: 100px;
    }
    Table td {
        font-size: 12px;
    }

    #categories #box{
        background-color: #fff;
        transition: 0.8s;
        color: #0A1F13;
        border: 1px dotted;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        width: 40%;
    }  
    #crousel img{
        height: 40vh;
    }
}
